In [1]:
########## DATES ##############

In [2]:
thor <- c('1978-06-09')
loki <- c('1989-06-06')
agegap <- thor - loki

ERROR: Error in thor - loki: non-numeric argument to binary operator

In [3]:
thor <- as.Date(c('1978-06-09'))
loki <- as.Date(c('1989-06-06'))  
  
agegap <- thor - loki
agegap

Time difference of -4015 days

In [ ]:
########### date operations #########

In [4]:
s <- as.Date("2012-01-01")
e <- as.Date("2012-02-01") 
seq <- seq(from=s, to=e, by=1)
week <- seq(from=s, by=1, length.out=7) # dates one week apart
first <- seq(from=s, by="month", length.out=12) # first of month for one year
qrt <- seq(from=s, by="3 months", length.out=4) # Quarterly dates for one year
seq
week
first
qrt

 [1] "2012-01-01" "2012-01-02" "2012-01-03" "2012-01-04" "2012-01-05"
 [6] "2012-01-06" "2012-01-07" "2012-01-08" "2012-01-09" "2012-01-10"
[11] "2012-01-11" "2012-01-12" "2012-01-13" "2012-01-14" "2012-01-15"
[16] "2012-01-16" "2012-01-17" "2012-01-18" "2012-01-19" "2012-01-20"
[21] "2012-01-21" "2012-01-22" "2012-01-23" "2012-01-24" "2012-01-25"
[26] "2012-01-26" "2012-01-27" "2012-01-28" "2012-01-29" "2012-01-30"
[31] "2012-01-31" "2012-02-01"

[1] "2012-01-01" "2012-01-02" "2012-01-03" "2012-01-04" "2012-01-05"
[6] "2012-01-06" "2012-01-07"

 [1] "2012-01-01" "2012-02-01" "2012-03-01" "2012-04-01" "2012-05-01"
 [6] "2012-06-01" "2012-07-01" "2012-08-01" "2012-09-01" "2012-10-01"
[11] "2012-11-01" "2012-12-01"

[1] "2012-01-01" "2012-04-01" "2012-07-01" "2012-10-01"

In [ ]:
############# POSIXct ###########

In [2]:
# util <- read.csv('P3-Machine-Utilization.csv')

util <- read.csv('P3-Machine-Utilization.csv', header=T)
head(util)

  Timestamp        Machine Percent.Idle
1 01/09/2016 00:00 RL1     NA
2 01/09/2016 01:00 RL1     NA
3 01/09/2016 02:00 RL1     NA
4 01/09/2016 03:00 RL1     NA
5 01/09/2016 04:00 RL1     NA
6 01/09/2016 05:00 RL1     NA

In [3]:
# convert time data to POSIXct
util$PosixTime <- as.POSIXct(util$Timestamp, format = '%d/%m/%Y %H:%M')
head(util)
summary(util)

  Timestamp        Machine Percent.Idle PosixTime
1 01/09/2016 00:00 RL1     NA           2016-09-01 00:00:00
2 01/09/2016 01:00 RL1     NA           2016-09-01 01:00:00
3 01/09/2016 02:00 RL1     NA           2016-09-01 02:00:00
4 01/09/2016 03:00 RL1     NA           2016-09-01 03:00:00
5 01/09/2016 04:00 RL1     NA           2016-09-01 04:00:00
6 01/09/2016 05:00 RL1     NA           2016-09-01 05:00:00

            Timestamp    Machine     Percent.Idle
 01/09/2016 00:00:   5   RL1 :720   Min.   :0.0000
 01/09/2016 01:00:   5   RL2 :720   1st Qu.:0.0262
 01/09/2016 02:00:   5   SR1 :720   Median :0.0410
 01/09/2016 03:00:   5   SR4A:720   Mean   :0.0431
 01/09/2016 04:00:   5   SR6 :720   3rd Qu.:0.0576
 01/09/2016 05:00:   5              Max.   :0.1508
 (Other)         :3570              NA's   :361
   PosixTime
 Min.   :2016-09-01 00:00:00
 1st Qu.:2016-09-08 11:45:00
 Median :2016-09-15 23:30:00
 Mean   :2016-09-15 23:30:00
 3rd Qu.:2016-09-23 11:15:00
 Max.   :2016-09-30 23:00:00